<style>
div.warn {    
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  border-left: 5px solid #dfb5b4;
  padding: 0.5em;
}
.right {
  position: absolute;
  right: 0px;
  font-size: 18px;
}
.reveal h1 { font-size: 2.5em; } 

</style>
